﻿@{
    ViewBag.Title = "Demo 1";
}

@section scripts{
    @Scripts.Render("~/Scripts/www/Demo3.js")
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10 pb-5">

            <form action="@Url.Action("SubmitResult","Demo3")" method="post">
                <div class="card border-axa-blue rounded-0">
                    <div class="card-header p-0">
                        <div class="border-primary text-axa-blue text-center py-2">
                            <h3><i class="fa fa-handshake-o"></i> Schedule an Interview</h3>
                        </div>
                    </div>
                    <div class="card-body p-3">

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group date" id="date" data-target-input="nearest">
                                            <input type="text" name="date" class="form-control datetimepicker-input" data-target="#date" placeholder="Proposed Date" />
                                            <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group date" id="time" data-target-input="nearest">
                                            <input type="text" name="time" class="form-control datetimepicker-input" data-target="#time" placeholder="Proposed Time" />
                                            <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <i>Pro-tip: Usually available in the afternoon. Wednesdays or Thursdays are generally relaxed. So pick one and get a slot.</i>
                        </div>


                        <div class="text-center mt-4">
                            <input type="submit" value="Submit" class="btn btn-primary bg-axa-blue btn-block rounded-0 py-2">
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

